/* fonts */
@font-face {
    font-weight: 500;
    font-style: normal;
    font-family: "Myriad Set Pro";
    src: url('fonts/myriad-set-pro_medium.woff2') format('woff2'),
         url('fonts/myriad-set-pro_medium.woff') format('woff'),
         url('fonts/myriad-set-pro_medium.ttf') format('truetype');
}

@font-face {
    font-weight: 300;
    font-style: normal;
    font-family: "Myriad Set Pro";
    src: url('fonts/myriad-set-pro_thin.woff2') format('woff2'),
         url('fonts/myriad-set-pro_thin.woff') format('woff'),
         url('fonts/myriad-set-pro_thin.ttf') format('truetype');
}


/* global classes */
body {
  font-weight: 300;
  font-family: "Myriad Set Pro", "Helvetica", "Arial", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
blockquote,
figure {
  margin: 0;
  padding: 0;
}

.p-container {
  margin: 0 auto;
  width: 1240px;
}

.p-col-4 {
  float: left;
  box-sizing: border-box;
  padding: 0 27px;
  width: 33.33333333%;
  border-right: 1px solid #e5e5e5;
}

.p-col-4:last-child {
  border-right: none;
}


/* headers */
.p-content-header {
  font-weight: 300;
  font-size: 34px;
}

.p-content-title,
.p-content-text {
  font-size: 19px;
}

.p-content-title {
  padding-bottom: 25px;
  font-weight: 500;
}

.p-content-text {
  padding-bottom: 14px;
  line-height: 1.25;
  text-align: justify;
}

.p-content-text:last-child {
  padding-bottom: 0;
}

/* content */
.p-content {
  overflow: hidden;
  padding-top: 14px;
  padding-bottom: 41px;
}
.p-content-lead {
  padding-bottom: 42px;
  text-align: center;
}

.p-content-lead .p-content-text{
  text-align: center;
}

.p-content-header {
  font-weight: 300;
  line-height: 34px;
}

.p-content-header-text {
  margin: 0 auto;
  padding-bottom: 0;
  width: 180px;
  line-height: 1;
}

.p-content-lead img {
  margin-top: 26px;
  margin-bottom: 23px;
}

.p-content-btn-wrap {
  display: block;
}

.p-content-btn {
  display: inline-block;
  padding: 9px 21px 2px;
  max-width: 80%;
  border-radius: 8px;
  background-color: #e51839;
  color: #fff;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.065em;
  font-size: 20px;
}

.p-content-img {
  padding-top: 14px;
  padding-bottom: 22px;
}

.p-content-img img {
  width: 100%;
  height: auto;
}

.p-img-closer {
  margin: 0 auto;
  padding-top: 6px;
  padding-bottom: 5px;
  width: 90%;
}