/* fonts */
@font-face {
    font-family: "Myriad Set Pro";
    src: url('fonts/myriad-set-pro_medium.woff2') format('woff2'),
         url('fonts/myriad-set-pro_medium.woff') format('woff'),
         url('fonts/myriad-set-pro_medium.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Myriad Set Pro";
    src: url('fonts/myriad-set-pro_thin.woff2') format('woff2'),
         url('fonts/myriad-set-pro_thin.woff') format('woff'),
         url('fonts/myriad-set-pro_thin.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}